@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  grid-area: header;
  width: 100%;
  height: 15%;
  padding: 30px; }
  .header .logo a {
    font-size: 3.1em;
    text-decoration: none;
    color: white;
    padding: 18px;
    font-family: 'Lobster', cursive; }
  .header .navbar {
    --bs-navbar-color: white;
    --bs-navbar-hover-color: rgb(237, 120, 120);
    --bs-navbar-brand-color: white;
    --bs-navbar-brand-hover-color: rgb(237, 120, 120); }
  .header .bg-light {
    background-color: transparent !important; }
  .header .navbar-toggler {
    background-color: white;
    color: black; }
  .header .navbar-collapse {
    justify-content: end;
    font-size: 1.2em; }
    .header .navbar-collapse .nav-link {
      text-align: center;
      font-size: 1.20em;
      margin-left: 8px;
      margin-right: 8px; }
  .header .socialmedia-header {
    margin-left: 6px;
    display: flex;
    align-items: center; }
    .header .socialmedia-header a {
      color: white;
      margin: 5px;
      font-size: 1.2em;
      transition: 0.6s; }
      .header .socialmedia-header a:hover {
        color: #ed7878; }

@keyframes main-text {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    color: white; } }

.footer {
  background-color: #040404;
  color: white;
  text-align: center;
  padding-top: 28px;
  font-size: 1em;
  height: 140px; }
  .footer .socialmedia {
    color: white;
    padding: 2px;
    font-size: 1.3em; }
    .footer .socialmedia:hover {
      color: #ed7878;
      transition: .6s; }
  .footer .moreinfo a {
    color: #ed7878; }
    .footer .moreinfo a:hover {
      color: white;
      transition: .6s; }
  .footer .footer-copyright {
    display: flex;
    justify-content: center;
    height: 20px; }

.container-home-grid {
  display: grid;
  grid-template-areas: "header header header" "main main main" "main-content main-content main-content" "footer footer footer";
  height: 100vh;
  width: 100vw; }

.header {
  grid-area: header; }

.main-content {
  grid-area: main-content; }
  .main-content .main-content-container-text {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: white;
    width: 500px;
    margin-left: 100px;
    margin-top: 180px;
    animation-name: main-text;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.2s;
    animation-delay: .3s;
    opacity: 0;
    animation-fill-mode: forwards; }
    .main-content .main-content-container-text h1 {
      font-size: 4em; }

.main-home-grid {
  grid-area: main;
  height: 900px;
  background-image: url(https://res.cloudinary.com/federicog/image/upload/v1663027220/my-proyect-css/index-background.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: soft-light;
  background-size: cover;
  background-position-y: -150px; }

.footer-home-grid {
  grid-area: footer; }

.basic-section-shop .basic-section, .silver-section-shop .silver-section, .gold-section-shop .gold-section {
  border: 3px solid black;
  width: 380px;
  position: absolute;
  box-shadow: 4px 4px 8px black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px; }

.basic-section-shop .basic-section .basic .basic-h2, .silver-section-shop .silver-section .silver .silver-h2, .gold-section-shop .gold-section .gold .gold-h2 {
  padding-bottom: 180px;
  text-align: center;
  margin-top: 10px; }

.basic-section-shop .basic-section .basic .basic-ul, .silver-section-shop .silver-section .silver .silver-ul, .gold-section-shop .gold-section .gold .gold-ul {
  padding-bottom: 100px;
  bottom: 140px;
  position: relative;
  font-size: 1.25em; }

.container-shop-grid {
  display: grid;
  grid-template-areas: "header header header" "main main main" "main-content main-content main-content" "sec-header sec-header sec-header" "section-one section-two section-three" "footer footer footer";
  height: 100vh; }

.header-shop-grid {
  grid-area: header; }

.main-content-shop {
  grid-area: main-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; }

.main-shop-grid {
  grid-area: main;
  height: 850px;
  background-image: url(https://res.cloudinary.com/federicog/image/upload/v1663027220/my-proyect-css/index-background.jpg);
  background-blend-mode: soft-light;
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -150px;
  color: white; }
  .main-shop-grid .main-shop-text {
    font-size: 7em !important;
    margin-top: 190px;
    animation-name: aparition-box;
    animation-iteration-count: 1;
    animation-duration: 1.8s;
    animation-fill-mode: forwards; }
  .main-shop-grid .go-to-buy {
    font-weight: bold;
    width: 110px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: .5s;
    background: transparent;
    border: solid white 2px;
    animation-name: aparition-box;
    animation-iteration-count: 1;
    animation-duration: 1.8s;
    animation-fill-mode: forwards; }
    .main-shop-grid .go-to-buy:hover {
      background-color: white;
      color: black !important; }

.second-header-shop-grid {
  grid-area: sec-header;
  background-color: darkblue; }

.shop-header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: black;
  color: white;
  font-size: 1em; }
  .shop-header .shop-nav {
    display: flex; }
    .shop-header .shop-nav ul {
      list-style: none;
      display: flex; }
    .shop-header .shop-nav li {
      padding: 10px; }
    .shop-header .shop-nav a {
      text-decoration: none;
      color: white; }

.basic-section-shop {
  grid-area: section-one;
  background-color: white;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .basic-section-shop .basic-section li {
    list-style-type: none; }
  .basic-section-shop .basic-section h2 {
    text-shadow: 1px 1px 1px black; }
  .basic-section-shop .basic-section .basic .basic-buy {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.2em; }
    .basic-section-shop .basic-section .basic .basic-buy p {
      margin-bottom: 0; }

.silver-section-shop {
  grid-area: section-two;
  background-color: #eeeded;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .silver-section-shop .silver-section h2 {
    text-shadow: 1px 1px 1px black; }
  .silver-section-shop .silver-section li {
    list-style-type: none; }
  .silver-section-shop .silver-section .silver .silver-h2 .silver-color {
    color: #7a7979; }
  .silver-section-shop .silver-section .silver .silver-buy {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.2em; }
    .silver-section-shop .silver-section .silver .silver-buy p {
      margin-bottom: 0; }

.gold-section-shop {
  grid-area: section-three;
  background-color: white;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .gold-section-shop .gold-section {
    flex-direction: column; }
    .gold-section-shop .gold-section h2 {
      text-shadow: 1px 1px 1px black; }
    .gold-section-shop .gold-section li {
      list-style-type: none; }
    .gold-section-shop .gold-section .gold .gold-h2 .gold-color {
      color: #fff714;
      font-weight: bold; }
    .gold-section-shop .gold-section .gold .gold-buy {
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      text-align: center;
      font-size: 1.2em; }
      .gold-section-shop .gold-section .gold .gold-buy p {
        margin-bottom: 0; }

.footer-shop-grid {
  grid-area: footer; }

.check-green {
  color: green; }

.check-red {
  color: red; }

.shop-price {
  color: red;
  font-weight: bold; }

.button-shop {
  padding: 4px;
  margin: 5px;
  border-radius: 15px;
  background-color: #a2ef2f;
  font-weight: bold;
  box-shadow: 1px 1px 1px black;
  width: 120px;
  cursor: pointer;
  transition: 1s;
  margin-bottom: 10px; }
  .button-shop:hover {
    transform: scale(1.05, 1.05); }

.coder-house .coder-house-text, .pilas-baby .pilas-baby-text {
  width: 360px;
  height: 400px;
  display: flex;
  align-items: center;
  font-size: 1em; }

.coder-house .coderhouse-p, .pilas-baby .pilasbaby-p {
  color: red;
  font-weight: bold; }

.coder-house .coder-house-img-text, .pilas-baby .pilas-baby-img-text {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 80px; }

.courses-main-container {
  background-image: url(https://res.cloudinary.com/federicog/image/upload/v1663027220/my-proyect-css/index-background.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  background-position-y: -150px; }
  .courses-main-container .courses-main {
    display: flex;
    flex-direction: column;
    text-shadow: 1px;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    animation-name: aparition-box;
    animation-iteration-count: 1;
    animation-duration: 1.8s;
    animation-fill-mode: forwards; }
    .courses-main-container .courses-main h1 {
      font-size: 6em !important;
      margin-bottom: 5px; }
    .courses-main-container .courses-main p {
      color: #ef5d5d;
      text-align: center; }
    .courses-main-container .courses-main .btn-courses {
      font-weight: bold;
      width: 125px;
      height: 38px;
      border-radius: 10px;
      cursor: pointer;
      color: white;
      transition: .5s;
      background: transparent;
      border: solid white 2px;
      margin: 3px; }
      .courses-main-container .courses-main .btn-courses:hover {
        background-color: white;
        color: black; }

.coder-house {
  width: 100%;
  height: 800px;
  background-color: #0b0b0b;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }
  .coder-house h2 {
    margin-top: 40px; }
  .coder-house .coder-house-img {
    width: 360px;
    height: 400px;
    background-image: url(https://res.cloudinary.com/federicog/image/upload/v1660351309/my-proyect-css/ch-courses.jpg);
    background-image: cover;
    background-position-x: center;
    background-position-y: center;
    border-radius: 20px; }
  .coder-house .coder-house-text {
    padding-left: 30px; }

.pilas-baby {
  width: 100%;
  height: 800px;
  background-color: #f4f4f4;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column; }
  .pilas-baby h2 {
    margin-top: 40px; }
  .pilas-baby .pilas-baby-img-text {
    flex-direction: row-reverse; }
  .pilas-baby .pilas-baby-img {
    width: 400px;
    height: 400px;
    background-image: url(https://res.cloudinary.com/federicog/image/upload/v1660351309/my-proyect-css/am-courses.png);
    background-image: cover;
    background-position-x: center;
    background-position-y: center;
    border-radius: 20px;
    position: relative; }
  .pilas-baby .pilas-baby-text {
    padding-right: 30px; }

.about-proyects .container-proyect-hydro .hydro-project-one .hydro-content, .about-proyects .container-proyect-hydro .hydro-project-two .hydro-content {
  color: black;
  margin: 30px;
  width: 400px; }

.about-proyects .container-proyect-hydro .hydro-project-one .hydro-content a, .about-proyects .container-proyect-hydro .hydro-project-two .hydro-content a {
  text-decoration: none;
  color: red;
  font-weight: bold; }

.about-main-container {
  height: 850px;
  background-image: url(https://res.cloudinary.com/federicog/image/upload/v1663027220/my-proyect-css/index-background.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -150px; }
  .about-main-container .about-text-container {
    color: white;
    text-align: center;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-name: aparition-box;
    animation-iteration-count: 1;
    animation-duration: 1.8s;
    animation-fill-mode: forwards; }
    .about-main-container .about-text-container h1 {
      font-size: 6em; }
    .about-main-container .about-text-container .btn-aboutme,
    .about-main-container .about-text-container .btn-proyects {
      font-weight: bold;
      width: 105px;
      height: 35px;
      border-radius: 10px;
      cursor: pointer;
      color: white;
      transition: .5s;
      background: transparent;
      border: solid white 2px;
      margin: 3px; }
      .about-main-container .about-text-container .btn-aboutme:hover,
      .about-main-container .about-text-container .btn-proyects:hover {
        background-color: white;
        color: black; }

.about-profile {
  width: 100%;
  height: 900px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  .about-profile .about-profile-text {
    width: 400px;
    height: 400px;
    padding-left: 30px; }

.about-profile-img {
  width: 500px;
  height: 400px;
  background-image: url(https://res.cloudinary.com/federicog/image/upload/v1660351309/my-proyect-css/about-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  margin-top: 50px; }

.about-proyects {
  width: 100%;
  height: 800px;
  opacity: .92;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .about-proyects .proyects-text h2 {
    font-size: 3em; }
  .about-proyects .container-proyect-hydro {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center; }
    .about-proyects .container-proyect-hydro .hydro-img {
      width: 450px;
      height: 450px;
      border-radius: 10px;
      background-image: url(https://res.cloudinary.com/federicog/image/upload/v1661450930/hydro-bootstrap/galery-img7.jpg);
      background-size: cover; }
    .about-proyects .container-proyect-hydro .hydro-general-content {
      display: flex;
      flex-direction: column;
      width: 480px; }
    .about-proyects .container-proyect-hydro .hydro-project-one {
      width: 85%;
      background-color: transparent;
      margin: 22px;
      border-radius: 10px;
      display: flex;
      align-items: center; }
    .about-proyects .container-proyect-hydro .hydro-project-two {
      width: 85%;
      background-color: transparent;
      margin: 22px;
      border-radius: 10px;
      display: flex;
      align-items: center; }

.contact-main-container {
  background-image: url(https://res.cloudinary.com/federicog/image/upload/v1663027220/my-proyect-css/index-background.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  background-position-y: -150px; }
  .contact-main-container .contact-general-info {
    height: 500px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: aparition-box;
    animation-iteration-count: 1;
    animation-duration: 1.8s;
    animation-fill-mode: forwards; }
    .contact-main-container .contact-general-info .general-info-gmail,
    .contact-main-container .contact-general-info .general-info-phone,
    .contact-main-container .contact-general-info .general-info-location {
      display: flex;
      flex-direction: column;
      color: white;
      text-align: center;
      margin: 30px 0px; }
      .contact-main-container .contact-general-info .general-info-gmail i,
      .contact-main-container .contact-general-info .general-info-phone i,
      .contact-main-container .contact-general-info .general-info-location i {
        font-size: 1.6em; }
      .contact-main-container .contact-general-info .general-info-gmail p,
      .contact-main-container .contact-general-info .general-info-phone p,
      .contact-main-container .contact-general-info .general-info-location p {
        font-size: 1.2em; }
  .contact-main-container .contact-container-image {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 80px; }
    .contact-main-container .contact-container-image .contact-container {
      font-size: 25px;
      height: 500px;
      background-color: rgba(0, 0, 0, 0.3);
      animation-name: aparition-box;
      animation-iteration-count: 1;
      animation-duration: 1.8s;
      animation-fill-mode: forwards; }
      .contact-main-container .contact-container-image .contact-container .contact-h1 {
        display: flex;
        align-items: center;
        height: 130px;
        color: white;
        text-shadow: black 2px 2px;
        padding-top: 0px;
        margin-left: 12%; }
        .contact-main-container .contact-container-image .contact-container .contact-h1 h1 {
          font-size: 40px !important; }

.contact-form .container-contact-base {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin-bottom: 20px; }
  .contact-form .container-contact-base .contact-base {
    padding: 3px;
    border: 0 !important;
    border-bottom: solid white 2px !important;
    background-color: transparent;
    margin-left: 75px;
    width: 250px; }
    .contact-form .container-contact-base .contact-base::placeholder {
      color: #cacaca; }

.contact-form .contact-textarea {
  display: flex;
  align-items: center; }
  .contact-form .contact-textarea .contact-message {
    width: 580px;
    height: 180px;
    padding: 3px;
    border: 0 !important;
    border: solid white 2px !important;
    background-color: transparent;
    margin-left: 75px;
    margin-bottom: 20px;
    margin-right: 75px; }
    .contact-form .contact-textarea .contact-message::placeholder {
      color: #cacaca; }

.contact-form .contact-buttons {
  display: flex;
  margin-left: 70px;
  margin-bottom: 20px; }
  .contact-form .contact-buttons .contact-button {
    padding: 10px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    cursor: hand;
    transition: .5s;
    border: 0 !important;
    border: solid white 2px !important;
    color: white;
    margin-left: 8px; }
    .contact-form .contact-buttons .contact-button:hover {
      background-color: white;
      color: black; }

input,
textarea {
  color: white; }

button,
input,
optgroup,
select,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: initial;
  line-height: initial; }

body {
  font-family: 'Roboto Condensed', sans-serif; }

body::-webkit-scrollbar {
  display: none; }

button {
  font-size: initial; }

@keyframes aparition-box {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    color: white; } }

@keyframes navbar-absolute {
  from {
    transform: translate(200px, 0px); }
  to {
    transform: translate(0px, 0px); } }

@media (max-width: 1500px) {
  .about-select {
    width: 320px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    color: white;
    border: white solid 2px;
    border-radius: 8px;
    margin: 1px; }
  .main-home-grid,
  .main-shop-grid,
  .courses-main-container,
  .about-main-container,
  .contact-main-container {
    background-position-y: 0; } }

@media (max-width: 1333px) {
  .container-shop-grid {
    width: 100vw;
    grid-template-areas: "header header header header" "main main main main" "sec-header sec-header sec-header sec-header" "section-one section-one section-two section-two" "section-three section-three section-three section-three" "footer footer footer footer"; }
  .basic-section-shop {
    background-color: #eeeded; }
  .gold-section-shop {
    background-color: #c7c8c9; }
  .basic-section,
  .silver-section,
  .gold-section {
    background-color: white; }
  .contact-textarea .contact-message {
    margin-left: 10% !important;
    margin-right: 10% !important; }
  .contact-container-image .contact-container {
    width: 55vw; }
  .contact-form .container-contact-base .contact-base {
    width: 35%;
    margin-left: 10%; }
  .contact-general-info {
    width: 28vw !important; } }

@media (max-width: 1210px) {
  .contact-form .contact-textarea .contact-message {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%; } }

@media (max-width: 992px) {
  .socialmedia-header .socialmedia {
    display: none; }
  .navbar-collapse {
    position: absolute;
    width: 170px;
    top: 75px;
    right: -45px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid white;
    transition: .5s;
    z-index: 100;
    border-radius: 15px;
    animation-name: navbar-absolute;
    animation-iteration-count: 1;
    animation-duration: 1.8s;
    animation-fill-mode: forwards; }
    .navbar-collapse .nav-link {
      justify-content: center;
      display: flex;
      padding: 5px 0px; }
  .container-proyect-hydro .hydro-img {
    width: 0px;
    height: 0px;
    display: none; } }

@media (max-width: 992px) and (max-width: 950px) {
  .main-shop-grid .main-shop-text {
    font-size: 4em !important; }
  .about-profile-img {
    width: 0; }
  .contact-container {
    margin-left: 10vw; }
    .contact-container .contact-form .container-contact-base .contact-base {
      width: 35%;
      margin-left: 10%; }
  .contact-main-container {
    height: 1400px; }
  .contact-container-image {
    flex-direction: column;
    height: 600px; }
    .contact-container-image .contact-container {
      width: 78%; }
    .contact-container-image .contact-general-info {
      height: 210px;
      width: 78% !important;
      margin-left: 10%; }
      .contact-container-image .contact-general-info .general-info {
        display: flex;
        flex-direction: row; }
      .contact-container-image .contact-general-info .general-info-gmail,
      .contact-container-image .contact-general-info .general-info-phone,
      .contact-container-image .contact-general-info .general-info-location {
        flex-direction: column;
        margin: 0px 30px; } }

@media (max-width: 992px) and (max-width: 768px) {
  .header-home-grid,
  .header-shop-grid,
  .header {
    flex-direction: column;
    align-items: center; }
    .header-home-grid .logo,
    .header-shop-grid .logo,
    .header .logo {
      margin-top: 5px; }
  .main-home-grid .main-content .main-content-container-text {
    width: 75%;
    margin-left: 60px;
    margin-top: 200px; }
  .main-home-grid .main-content h1 {
    font-size: 2.6em; }
  .main-home-grid .main-content p {
    font-size: 0.8em; }
  .main-shop-grid {
    height: 700px; }
  .container-shop-grid {
    grid-template-areas: "header header header" "main main main" "sec-header sec-header sec-header" "section-one section-one section-one" "section-two section-two section-two" "section-three section-three section-three" "footer footer footer";
    width: 100vw; }
  .basic-section-shop {
    background-color: #bdbdbd; }
  .gold-section-shop {
    background-color: #bdbdbd; }
  .coder-house-img {
    width: 0px !important;
    height: 0px !important; }
  .pilas-baby {
    height: 1050px; }
    .pilas-baby .pilas-baby-img-text {
      flex-direction: column;
      align-items: center; }
    .pilas-baby .pilas-baby-text {
      width: 400px;
      padding-right: 0px; }
    .pilas-baby .pilas-baby-img {
      width: 370px;
      height: 350px; }
  .about-profile {
    height: 900px;
    justify-content: center;
    align-items: center; }
    .about-profile .about-profile-img {
      width: 0; }
  .contact-main-container {
    height: 1100px; }
    .contact-main-container .contact-container-image .contact-general-info {
      width: 0px;
      height: 0px; }
      .contact-main-container .contact-container-image .contact-general-info .general-info {
        font-size: 0; }
  .contact-form .contact-message {
    margin-left: 10% !important;
    margin-right: 10% !important; }
  .contact-form .contact-buttons {
    margin-left: 10%; }
  .contact-form .container-contact-base {
    display: flex;
    flex-direction: column;
    height: 90px;
    margin-bottom: 20px; }
    .contact-form .container-contact-base .contact-base {
      width: 80% !important;
      margin-right: 10% !important;
      margin-left: 10% !important; } }

@media (max-width: 992px) and (max-width: 700px) {
  .about-main-container {
    height: 950px; } }

@media (max-width: 992px) and (max-width: 550px) {
  .main-shop-grid .main-shop-text {
    font-size: 3em !important; }
  .main-home-grid #home .container-home-text {
    width: 75%;
    margin-left: 20px;
    margin-top: 300px; }
  .about-proyects .container-proyect-hydro .hydro-general-content {
    margin: 0;
    width: 400px; }
  .container-proyect-hydro .hydro-project-one {
    margin: 15px; }
  .about-text-container {
    font-size: 0.9em; }
  .basic-section-shop .basic-section {
    width: 320px; }
  .silver-section-shop .silver-section {
    width: 320px; }
  .gold-section-shop .gold-section {
    width: 320px; } }

@media (max-width: 992px) and (max-width: 450px) {
  .container-home-grid {
    display: grid;
    width: 100vw;
    grid-template-areas: "header header header header" "main main main main" "footer footer footer footer"; }
  .home-text {
    width: 50%;
    width: 300px; }
  .main-home-grid .main-content .main-content-container-text {
    width: 80%;
    margin-left: 35px;
    margin-top: 200px; }
  .main-home-grid .main-content h1 {
    font-size: 2.2em; }
  .main-home-grid .main-content p {
    font-size: 0.62em; }
  .about-text-container {
    font-size: 0.75em; }
  .about-proyects .container-proyect-hydro .hydro-general-content {
    margin: 0;
    width: 320px; }
  .main-shop-grid .main-shop-text {
    font-size: 2.6em !important; }
  .basic-section,
  .silver-section,
  .gold-section {
    width: 300px; }
  .courses-main h1 {
    margin-bottom: 8px; }
  .courses-main .btn-courses {
    width: 105px;
    height: 32px; }
  .coder-house {
    height: 1000px; }
    .coder-house .coder-house-text {
      width: 290px;
      height: 550px;
      padding-left: 19px; }
  .pilas-baby .pilas-baby-text {
    width: 280px;
    padding-right: 0px; }
  .pilas-baby .pilas-baby-img {
    width: 280px;
    height: 280px;
    margin-bottom: 75px; }
  .about-select {
    width: 295px;
    height: 140px;
    margin: 10px; }
  .about-profile {
    display: flex;
    align-items: flex-start; }
    .about-profile .about-profile-text {
      width: 280px;
      padding-left: 0;
      padding-top: 150px; }
  .about-proyects {
    flex-direction: column; }
  .contact-container-image .contact-container {
    width: 90% !important;
    margin-left: 5%; }
    .contact-container-image .contact-container .contact-form .contact-textarea .contact-message {
      margin-left: 10%;
      margin-right: 10%; }
    .contact-container-image .contact-container .contact-form .container-contact-base .contact-base {
      margin-left: 10%; } }
