// Contact

// Mixins & Extends


.contact-main-container {
    background-image: url(https://res.cloudinary.com/federicog/image/upload/v1663027220/my-proyect-css/index-background.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position-y: -150px;

    .contact-general-info {
        height: 500px;
        width: 350px;
        background-color: rgba(256, 256, 256, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        animation-name: aparition-box;
        animation-iteration-count: 1;
        animation-duration: 1.8s;
        animation-fill-mode: forwards;

        .general-info-gmail,
        .general-info-phone,
        .general-info-location {
            display: flex;
            flex-direction: column;
            color: white;
            text-align: center;
            margin: 30px 0px;

            i {
                font-size: 1.6em;
            }

            p {
                font-size: 1.2em;
            }
        }
    }

    .contact-container-image {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: 80px;

        .contact-container {
            font-size: 25px;
            height: 500px;
            background-color: rgba(0, 0, 0, 0.3);
            animation-name: aparition-box;
            animation-iteration-count: 1;
            animation-duration: 1.8s;
            animation-fill-mode: forwards;

            .contact-h1 {
                display: flex;
                align-items: center;
                height: 130px;
                color: white;
                text-shadow: black 2px 2px;
                padding-top: 0px;
                margin-left: 12%;

                h1 {
                    font-size: 40px !important;
                }
            }
        }
    }
}


.contact-form {
    .container-contact-base {
        display: flex;
        flex-direction: row;
        height: 40px;
        margin-bottom: 20px;

        .contact-base {
            padding: 3px;
            border: 0 !important;
            border-bottom: solid rgb(255, 255, 255) 2px !important;
            background-color: transparent;
            margin-left: 75px;
            width: 250px;

            &::placeholder {
                color: rgb(202, 202, 202);
            }
        }
    }

    .contact-textarea {
        display: flex;
        align-items: center;

        .contact-message {
            width: 580px;
            height: 180px;
            padding: 3px;
            border: 0 !important;
            border: solid rgb(255, 255, 255) 2px !important;
            background-color: transparent;
            margin-left: 75px;
            margin-bottom: 20px;
            margin-right: 75px;

            &::placeholder {
                color: rgb(202, 202, 202);
            }
        }
    }

    .contact-buttons {
        display: flex;
        margin-left: 70px;
        margin-bottom: 20px;

        .contact-button {
            padding: 10px;
            font-weight: bold;
            background-color: transparent;
            border-radius: 5px;
            cursor: pointer;
            cursor: hand;
            transition: .5s;
            border: 0 !important;
            border: solid rgb(255, 255, 255) 2px !important;
            color: white;
            margin-left: 8px;

            &:hover {
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
            }
        }
    }
}



input,
textarea {
    color: white;
}

// Bootstrap Reset

button,
input,
optgroup,
select,
textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: initial;
    line-height: initial;
}