// Courses


// Mixins & Extends


%text-coderhouse-pilasbaby {
    width: 360px;
    height: 400px;
    display: flex;
    align-items: center;
    font-size: 1em;
}

%pilasbaby-p {
    color: red;
    font-weight: bold;
}

%pilas-baby-img-text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 80px;
}


.courses-main-container {
    background-image: url(https://res.cloudinary.com/federicog/image/upload/v1663027220/my-proyect-css/index-background.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position-y: -150px;

    .courses-main {
        display: flex;
        flex-direction: column;
        text-shadow: 1px;
        margin-top: 200px;
        justify-content: center;
        align-items: center;
        animation-name: aparition-box;
        animation-iteration-count: 1;
        animation-duration: 1.8s;
        animation-fill-mode: forwards;

        h1 {
            font-size: 6em !important;
            margin-bottom: 5px;
        }

        p {
            color: rgb(239, 93, 93);
            text-align: center;
        }

        .btn-courses {
            font-weight: bold;
            width: 125px;
            height: 38px;
            border-radius: 10px;
            cursor: pointer;
            color: white;
            transition: .5s;
            background: transparent;
            border: solid rgb(255, 255, 255) 2px;
            margin: 3px;

            &:hover {
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
            }
        }
    }
}



.coder-house {
    width: 100%;
    height: 800px;
    background-color: #0b0b0b;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    h2 {
        margin-top: 40px;
    }

    .coder-house-img-text {
        @extend %pilas-baby-img-text;
    }

    .coder-house-img {
        width: 360px;
        height: 400px;
        background-image: url(https://res.cloudinary.com/federicog/image/upload/v1660351309/my-proyect-css/ch-courses.jpg);
        background-image: cover;
        background-position-x: center;
        background-position-y: center;
        border-radius: 20px;
    }

    .coder-house-text {
        @extend %text-coderhouse-pilasbaby;
        padding-left: 30px;
    }

    .coderhouse-p {
        @extend %pilasbaby-p;
    }
}


.pilas-baby {
    width: 100%;
    height: 800px;
    background-color: #f4f4f4;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-direction: column;

    h2 {
        margin-top: 40px;
    }

    .pilas-baby-img-text {
        @extend %pilas-baby-img-text;
        flex-direction: row-reverse;
    }

    .pilas-baby-img {
        width: 400px;
        height: 400px;
        background-image: url(https://res.cloudinary.com/federicog/image/upload/v1660351309/my-proyect-css/am-courses.png);
        background-image: cover;
        background-position-x: center;
        background-position-y: center;
        border-radius: 20px;
        position: relative;
    }

    .pilas-baby-text {
        @extend %text-coderhouse-pilasbaby;
        padding-right: 30px;
    }

    .pilasbaby-p {
        @extend %pilasbaby-p;
    }
}