// Header


$main-black: rgb(28, 28, 28);
$personal-black: #111111;
$top-red: rgb(237, 120, 120);

.header {
    grid-area: header;
    width: 100%;
    height: 15%;
    padding: 30px;

    .logo a {
        font-size: 3.1em;
        text-decoration: none;
        color: white;
        padding: 18px;
        font-family: 'Lobster', cursive;
    }

    .navbar {
        --bs-navbar-color: white;
        --bs-navbar-hover-color: rgb(237, 120, 120);
        --bs-navbar-brand-color: white;
        --bs-navbar-brand-hover-color: rgb(237, 120, 120);
    }

    .bg-light {
        background-color: transparent !important;
    }

    .navbar-toggler {
        background-color: white;
        color: black;
    }

    .navbar-collapse {
        justify-content: end;
        font-size: 1.2em;

        .nav-link {
            text-align: center;
            font-size: 1.20em;
            margin-left: 8px;
            margin-right: 8px;
        }
    }

    .socialmedia-header {
        margin-left: 6px;
        display: flex;
        align-items: center;

        a {
            color: white;
            margin: 5px;
            font-size: 1.2em;
            transition: 0.6s;

            &:hover {
                color: rgb(237, 120, 120);
            }
        }
    }
}



// Key-frames


@keyframes main-text {
    0% {
        opacity: 0;


    }

    100% {
        opacity: 1;
        color: white;
    }
}